Repository AliceAlifib/simple-bldg-server, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, DB-migrations

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*
  

# Add 'DB-migrations' label to any change inside the migrations folder
DB-migrations:
- any: ['bldg_server/priv/repo/migrations/*', '!bldg_server/priv/repo/migrations/.formatter.exs']

test: bootstrap test infrastructure so the suite can boot and run
  bldg_server/config/runtime.exs
  bldg_server/config/test.exs
  bldg_server/coveralls.json
  bldg_server/lib/bldg_server/application.ex
  bldg_server/mix.exs
  bldg_server/mix.lock
  bldg_server/test/support/channel_case.ex
  bldg_server/test/support/conn_case.ex
  bldg_server/test/support/data_case.ex
  bldg_server/test/support/factory.ex
Labels: none

test: cover battery dispatch two-tier routing
  bldg_server/lib/bldg_server/batteries.ex
  bldg_server/lib/bldg_server_web/battery_chat_dispatcher.ex
  bldg_server/test/bldg_server/batteries_test.exs
  bldg_server/test/bldg_server_web/battery_chat_dispatcher_test.exs
  bldg_server/test/bldg_server_web/battery_dispatch_test.exs
  bldg_server/test/bldg_server_web/controllers/battery_controller_test.exs
Labels: none

fix: building lifecycle, authorization, floor queries and placement
  bldg_server/lib/bldg_server/buildings.ex
  bldg_server/lib/bldg_server/relations.ex
  bldg_server/lib/bldg_server_web/controllers/bldg_controller.ex
  bldg_server/test/bldg_server/address_primitives_test.exs
  bldg_server/test/bldg_server/buildings_allocation_test.exs
  bldg_server/test/bldg_server/buildings_authorization_test.exs
  bldg_server/test/bldg_server/buildings_cascade_test.exs
  bldg_server/test/bldg_server/buildings_test.exs
  bldg_server/test/bldg_server/relations_test.exs
  bldg_server/test/bldg_server_web/controllers/bldg_controller_test.exs
  bldg_server/test/bldg_server_web/controllers/road_controller_test.exs
Labels: none

fix: command executor robustness, wire-protocol parity, staging coverage
  bldg_server/lib/bldg_server_web/bldg_command_executor.ex
  bldg_server/lib/bldg_server_web/channels/floor_channel.ex
  bldg_server/test/bldg_server_web/bldg_command_executor_more_test.exs
  bldg_server/test/bldg_server_web/bldg_command_executor_test.exs
  bldg_server/test/bldg_server_web/channels/floor_channel_test.exs
  bldg_server/test/bldg_server_web/controllers/staging_controller_test.exs
Labels: none

fix: enforce bird-eye view_mode invariant + resident action coverage
  bldg_server/lib/bldg_server/residents.ex
  bldg_server/test/bldg_server/residents_actions_test.exs
  bldg_server/test/bldg_server/residents_auth_test.exs
  bldg_server/test/bldg_server_web/controllers/resident_controller_test.exs
Labels: none

test: document container-relocation and footprint/overlap gaps
  bldg_server/test/bldg_server/protocol_gaps_test.exs
Labels: none

refactor: introduce BldgServer.Address and delegate the address primitives
  bldg_server/lib/bldg_server/address.ex
  bldg_server/lib/bldg_server/buildings.ex
  bldg_server/lib/bldg_server/residents.ex
  bldg_server/test/bldg_server/address_test.exs
Labels: none

feat: safe container relocation cascade
  bldg_server/lib/bldg_server/buildings.ex
  bldg_server/test/bldg_server/buildings_relocation_test.exs
  bldg_server/test/bldg_server/protocol_gaps_test.exs
Labels: none

feat: bldg dimensions and overlap-aware placement
  bldg_server/lib/bldg_server/buildings.ex
  bldg_server/lib/bldg_server/buildings/bldg.ex
  bldg_server/lib/bldg_server_web/channels/floor_channel.ex
  bldg_server/lib/bldg_server_web/views/bldg_view.ex
  bldg_server/priv/repo/migrations/20260620120000_add_dimensions_to_bldgs.exs
  bldg_server/test/bldg_server/buildings_dimensions_test.exs
  bldg_server/test/bldg_server/protocol_gaps_test.exs
  bldg_server/test/bldg_server_web/channels/floor_channel_test.exs
Labels: DB-migrations

feat: parse width/height in the /create chat command
  bldg_server/lib/bldg_server_web/bldg_command_executor.ex
  bldg_server/test/bldg_server_web/bldg_command_executor_more_test.exs
Labels: none

feat: reject creating a bldg whose footprint overlaps an existing one
  bldg_server/lib/bldg_server/buildings.ex
  bldg_server/test/bldg_server/buildings_dimensions_test.exs
Labels: none

docs: refresh CLAUDE.md for Address module, relocation, and footprints
  CLAUDE.md
Labels: repo

Idempotent /connect + bulk delete-in-flr for battery re-renders
  bldg_server/lib/bldg_server/relations.ex
  bldg_server/lib/bldg_server_web/bldg_command_executor.ex
  bldg_server/lib/bldg_server_web/controllers/bldg_controller.ex
  bldg_server/lib/bldg_server_web/controllers/road_controller.ex
  bldg_server/lib/bldg_server_web/router.ex
Labels: none

Tune bookCabinet (sales) flr_height for the rescaled shelf prefab
  bldg_server/lib/bldg_server/buildings.ex
Labels: none

/connect: skip gracefully when a road endpoint isn't found
  bldg_server/lib/bldg_server_web/bldg_command_executor.ex
Labels: none

Lower sales flr0_height 0.13 -> -0.12 so artifacts rest on shelves
  bldg_server/lib/bldg_server/buildings.ex
Labels: none

/connect: skip gracefully when a road endpoint isn't found
  bldg_server/lib/bldg_server_web/bldg_command_executor.ex
Labels: none

Raise bldg name/url length limit + fail loud on create failure
  bldg_server/lib/bldg_server/buildings.ex
  bldg_server/lib/bldg_server/buildings/bldg.ex
  bldg_server/priv/repo/migrations/20260712000000_widen_bldg_text_columns.exs
Labels: DB-migrations

protocol/data-model support for v2 implementation of roads
  bldg_server/lib/bldg_server/relations/road.ex
  bldg_server/lib/bldg_server_web/bldg_command_executor.ex
  bldg_server/lib/bldg_server_web/channels/floor_channel.ex
  bldg_server/lib/bldg_server_web/views/road_view.ex
  bldg_server/priv/repo/migrations/20260525120000_set_bird_eye_residents_direction.exs
  bldg_server/priv/repo/migrations/20260714000000_add_curve_to_roads.exs
  bldg_server/test/bldg_server_web/bldg_command_executor_more_test.exs
Labels: DB-migrations

metadata handling for stairs bldg
  bldg_server/lib/bldg_server/buildings.ex
Labels: none

/edit: validate that the data value parses as a JSON object
  bldg_server/lib/bldg_server_web/bldg_command_executor.ex
Labels: none

docs(fly): document required + optional secrets in fly.*.toml headers
  bldg_server/fly.dev.toml
  bldg_server/fly.prod.toml
Labels: none

fix(cors): default to allow-any-origin so browser clients aren't blocked
  bldg_server/config/runtime.exs
  bldg_server/fly.dev.toml
  bldg_server/fly.prod.toml
  bldg_server/lib/bldg_server_web/endpoint.ex
Labels: none

feat(auth): trusted service key + resident-token minting for alice-in-goals
  bldg_server/config/runtime.exs
  bldg_server/lib/bldg_server_web/battery_auth.ex
  bldg_server/lib/bldg_server_web/controllers/resident_controller.ex
  bldg_server/lib/bldg_server_web/resident_auth.ex
  bldg_server/lib/bldg_server_web/router.ex
  bldg_server/test/bldg_server_web/resident_auth_test.exs
Labels: none

refactor(auth): reuse an existing VERIFIED session when minting resident tokens
  bldg_server/lib/bldg_server_web/controllers/resident_controller.ex
Labels: none

feat(auth): let battery keys authorize bldg read/update routes + the socket
  bldg_server/lib/bldg_server_web/battery_auth.ex
  bldg_server/lib/bldg_server_web/channels/floor_channel.ex
  bldg_server/lib/bldg_server_web/channels/user_socket.ex
  bldg_server/lib/bldg_server_web/resident_auth.ex
  bldg_server/lib/bldg_server_web/router.ex
  bldg_server/test/bldg_server_web/channels/floor_channel_test.exs
  bldg_server/test/bldg_server_web/resident_auth_test.exs
Labels: none

feat(auth): service-only endpoint to provision a scoped battery credential
  bldg_server/lib/bldg_server_web/controllers/battery_controller.ex
  bldg_server/lib/bldg_server_web/router.ex
  bldg_server/test/bldg_server_web/resident_auth_test.exs
Labels: none

feat: Marker model (path/area idioms) + /mark command + geometry-preserving /edit data
  CLAUDE.md
  bldg_server/config/dev.exs
  bldg_server/lib/bldg_server/buildings.ex
  bldg_server/lib/bldg_server/relations.ex
  bldg_server/lib/bldg_server/relations/marker.ex
  bldg_server/lib/bldg_server_web/bldg_command_executor.ex
  bldg_server/lib/bldg_server_web/channels/floor_channel.ex
  bldg_server/lib/bldg_server_web/controllers/marker_controller.ex
  bldg_server/lib/bldg_server_web/router.ex
  bldg_server/lib/bldg_server_web/views/marker_view.ex
  bldg_server/priv/repo/migrations/20260819000000_create_markers.exs
  bldg_server/test/bldg_server/buildings_cascade_test.exs
  bldg_server/test/bldg_server/relations_test.exs
  bldg_server/test/bldg_server_web/bldg_command_executor_mark_test.exs
  bldg_server/test/bldg_server_web/bldg_command_executor_test.exs
  bldg_server/test/bldg_server_web/channels/floor_channel_test.exs
  bldg_server/test/bldg_server_web/controllers/marker_controller_test.exs
  bldg_server/test/support/factory.ex
Labels: repo, DB-migrations

fix: /create summary is terminal — keyword words in free text no longer hijack fields
  bldg_server/lib/bldg_server_web/bldg_command_executor.ex
  bldg_server/test/bldg_server_web/bldg_command_executor_more_test.exs
Labels: none

Fix unusable tokens from the "already verified" login; fix /move bldg
  bldg_server/lib/bldg_server/residents_auth.ex
  bldg_server/lib/bldg_server_web/bldg_command_executor.ex
  bldg_server/lib/bldg_server_web/resident_auth.ex
  bldg_server/test/bldg_server_web/bldg_command_executor_test.exs
  bldg_server/test/bldg_server_web/resident_auth_test.exs
Labels: none

chore(fly): prod scales to zero when idle
  bldg_server/fly.prod.toml
Labels: none
