Repository AliceAlifib/simple-bldg-server, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, DB-migrations

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*
  

# Add 'DB-migrations' label to any change inside the migrations folder
DB-migrations:
- any: ['bldg_server/priv/repo/migrations/*', '!bldg_server/priv/repo/migrations/.formatter.exs']

disabled code reloading due to error being debugged
  bldg_server/config/dev.exs
Labels: none

notification on failure to create bldg
  bldg_server/lib/bldg_server/buildings.ex
Labels: none

metadata changes
  bldg_server/lib/bldg_server/buildings.ex
Labels: none

metadata change
  bldg_server/lib/bldg_server/buildings.ex
Labels: none

protecting from case where a relocate is called for a non-existing bldg-url'
  bldg_server/lib/bldg_server_web/bldg_command_executor.ex
Labels: none

changed metadata of large table - has only l0
  bldg_server/lib/bldg_server/buildings.ex
Labels: none

use new version
  bldg_server/docker-compose.yml
Labels: none

WIP trying new db config
  bldg_server/config/dev.exs
  bldg_server/docker-compose.yml
  bldg_server/docker.env
  bldg_server/mix.exs
Labels: none

remove the db initialization
  bldg_server/docker-compose.yml
Labels: none

metadata fix
  bldg_server/lib/bldg_server/buildings.ex
Labels: none

removed secret
  bldg_server/Dockerfile.fly
  bldg_server/Dockerfile.loc
  bldg_server/config/runtime.exs
  bldg_server/docker-compose.yml
  bldg_server/fly.toml
  bldg_server/mix.exs
Labels: none

checlpointy
  bldg_server/.dockerignore
  bldg_server/Dockerfile
  bldg_server/Dockerfile.local2
  bldg_server/fly.toml
Labels: none

support receiving the location of the player post alice-in or alice-out
  bldg_server/lib/bldg_server/residents.ex
  bldg_server/lib/bldg_server_web/controllers/resident_controller.ex
  bldg_server/mix.exs
Labels: none

clean up secrets
  bldg_server/fly.toml
Labels: none

refactor
  bldg_server/lib/bldg_server_web/battery_chat_dispatcher.ex
Labels: none

add metadata for storage bldg
  bldg_server/lib/bldg_server/buildings.ex
Labels: none

support for entering ground (for the Alice Home functionality)
  bldg_server/lib/bldg_server/residents.ex
Labels: none

adding command and including web_url in notifications
  bldg_server/lib/bldg_server/buildings.ex
  bldg_server/lib/bldg_server_web/bldg_command_executor.ex
Labels: none

removed constraint for web_url uniqueness: there may be multiple bldgs for the same web resource
  bldg_server/lib/bldg_server/buildings.ex
  bldg_server/lib/bldg_server_web/bldg_command_executor.ex
  bldg_server/priv/repo/migrations/20241024155851_remove_web_url_unique_constraint.exs
Labels: DB-migrations

refactored the functions for handling create bldg commands
  bldg_server/lib/bldg_server_web/bldg_command_executor.ex
Labels: none

WIP receiving data_url attribute in create-bldg chat command, fetching the data from redis & storing in the data attribute of the bldg
  bldg_server/lib/bldg_server_web/bldg_command_executor.ex
  bldg_server/mix.exs
  bldg_server/mix.lock
Labels: none

reading data from redis when receiving a data_url param to the bldg creation command
  bldg_server/config/runtime.exs
  bldg_server/docker-compose.yml
  bldg_server/lib/bldg_server/application.ex
  bldg_server/lib/bldg_server_web/bldg_command_executor.ex
  bldg_server/mix.exs
Labels: none

added command variations
  bldg_server/lib/bldg_server_web/bldg_command_executor.ex
Labels: none

WIP retry on collision when creating bldgs
  bldg_server/lib/bldg_server/buildings.ex
  bldg_server/lib/bldg_server_web/bldg_command_executor.ex
  bldg_server/mix.exs
Labels: none

made the code to handle create bldg commands easier to evolve & added support for specifying the state
  bldg_server/lib/bldg_server_web/bldg_command_executor.ex
Labels: none

bump app version
  bldg_server/mix.exs
Labels: none

adding metadata
  bldg_server/lib/bldg_server/buildings.ex
Labels: none

changed the DB connection pool size & timeout for new connections due to errors observed under high load
  bldg_server/config/prod.exs
  bldg_server/config/runtime.exs
  bldg_server/mix.exs
Labels: none

Update README.md
  README.md
Labels: repo

Update README.md
  README.md
Labels: repo

Update README.md
  README.md
Labels: repo

Update README.md
  README.md
Labels: repo

Update README.md
  README.md
Labels: repo

add redis config
  bldg_server/docker.env
Labels: none

add redis config
  bldg_server/fly.toml
  bldg_server/lib/bldg_server/application.ex
Labels: none

added scan endpoints
  bldg_server/lib/bldg_server/buildings.ex
  bldg_server/lib/bldg_server/relations.ex
  bldg_server/lib/bldg_server/residents.ex
  bldg_server/lib/bldg_server_web/controllers/bldg_controller.ex
  bldg_server/lib/bldg_server_web/controllers/resident_controller.ex
  bldg_server/lib/bldg_server_web/controllers/road_controller.ex
  bldg_server/lib/bldg_server_web/router.ex
  bldg_server/mix.exs
Labels: none

fix to propagate chat messages also on ground floor
  bldg_server/lib/bldg_server/buildings.ex
Labels: none

harc-coded metadata changes
  bldg_server/lib/bldg_server/buildings.ex
  bldg_server/mix.exs
Labels: none

staging data write endpoint (dgraph) - initial skeleton
  bldg_server/lib/bldg_server/graph_storage.ex
  bldg_server/lib/bldg_server_web/controllers/staging_controller.ex
  bldg_server/lib/bldg_server_web/router.ex
Labels: none

staging data in dgraph
  bldg_server/config/runtime.exs
  bldg_server/fly.toml
  bldg_server/lib/bldg_server/application.ex
  bldg_server/lib/bldg_server/buildings.ex
  bldg_server/lib/bldg_server/dgraph_client.ex
  bldg_server/lib/bldg_server/graph_storage.ex
  bldg_server/lib/bldg_server_web/controllers/staging_controller.ex
  bldg_server/mix.lock
Labels: none
