Repository AliceAlifib/simple-bldg-server, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, DB-migrations

by default, scan also returns the parent bldg
  bldg_server/lib/bldg_server/buildings.ex
Labels: none

make the DAL scan method not include parent bldg by default, since the caller already does that using an additional query
  bldg_server/lib/bldg_server/buildings.ex
Labels: none

bldgs build endpoint fixed to allow simple creation of bldgs using base fields. This used to work long time ago, but got broken
  bldg_server/lib/bldg_server/buildings.ex
  bldg_server/lib/bldg_server_web/controllers/bldg_controller.ex
Labels: none

cleanup
  bldg_server/Dockerfile.local2
Labels: none

untested style & refactoring changes (website -> web_url)
  bldg_server/lib/bldg_server_web/bldg_command_executor.ex
Labels: none

removed some required fields from the say command
  bldg_server/lib/bldg_server_web/bldg_command_executor.ex
  bldg_server/lib/bldg_server_web/controllers/battery_controller.ex
  bldg_server/lib/bldg_server_web/controllers/bldg_controller.ex
  bldg_server/lib/bldg_server_web/router.ex
  bldg_server/mix.exs
Labels: none

remove required fields from say command
  bldg_server/lib/bldg_server/buildings.ex
  bldg_server/lib/bldg_server_web/battery_chat_dispatcher.ex
  bldg_server/lib/bldg_server_web/controllers/bldg_controller.ex
Labels: none

WIP function for supporting multi-ten & bug fix
  bldg_server/lib/bldg_server/buildings.ex
  bldg_server/lib/bldg_server_web/bldg_command_executor.ex
Labels: none

Add battery registry in Redis and wire it into chat dispatcher
  bldg_server/lib/bldg_server/batteries.ex
  bldg_server/lib/bldg_server/buildings.ex
  bldg_server/lib/bldg_server_web/battery_chat_dispatcher.ex
  bldg_server/lib/bldg_server_web/controllers/battery_controller.ex
Labels: none

when saying something in g, we need to update g, & failing because of the validation requiring flr & flr_url
  bldg_server/lib/bldg_server/buildings/bldg.ex
  bldg_server/lib/bldg_server_web/controllers/bldg_controller.ex
Labels: none

WIP trying to fix dispatching messages to batteries on g
  bldg_server/lib/bldg_server/buildings.ex
  bldg_server/lib/bldg_server_web/battery_chat_dispatcher.ex
Labels: none

sending the 1st bldg owner as the resident_email in the /notify message (not the cleanest, but have to get this working). Also added an endpoint to get a bldg by the bldg_url
  bldg_server/lib/bldg_server/buildings.ex
  bldg_server/lib/bldg_server_web/controllers/bldg_controller.ex
  bldg_server/lib/bldg_server_web/router.ex
Labels: none

WIP improvements to staging in graph db
  CLAUDE.md
  bldg_server/config/runtime.exs
  bldg_server/lib/bldg_server/dgraph_client.ex
  bldg_server/lib/bldg_server_web/controllers/staging_controller.ex
Labels: repo

Add visual_language field to decouple entity_type from visual rendering
  bldg_server/config/test.exs
  bldg_server/lib/bldg_server/buildings.ex
  bldg_server/lib/bldg_server/buildings/bldg.ex
  bldg_server/lib/bldg_server_web/views/bldg_view.ex
  bldg_server/priv/repo/migrations/20260403182714_add_visual_language_to_bldgs.exs
Labels: DB-migrations

Add inherited ownership: ancestors' owners can operate on nested bldgs
  bldg_server/lib/bldg_server/buildings.ex
  bldg_server/lib/bldg_server_web/bldg_command_executor.ex
Labels: none

Fix inherited ownership to skip floors when walking up container chain
  bldg_server/lib/bldg_server/buildings.ex
Labels: none

Rename visual entity_types to semantic names in visual language mapping
  bldg_server/lib/bldg_server/buildings.ex
  bldg_server/priv/repo/migrations/20260410175331_rename_visual_entity_types.exs
Labels: DB-migrations

visual language changes
  CLAUDE.md
  bldg_server/lib/bldg_server/buildings.ex
  bldg_server/priv/repo/migrations/20260410220608_update_visual_language_mappings.exs
Labels: repo, DB-migrations

Add WebSocket streaming of bldg/resident/road changes to clients
  CLAUDE.md
  bldg_server/lib/bldg_server/buildings.ex
  bldg_server/lib/bldg_server/relations.ex
  bldg_server/lib/bldg_server/residents.ex
  bldg_server/lib/bldg_server_web/channels/floor_channel.ex
  bldg_server/lib/bldg_server_web/channels/user_socket.ex
Labels: repo

Add cascade delete for buildings via chat command, REST API, and openclaw
  bldg_server/lib/bldg_server/buildings.ex
  bldg_server/lib/bldg_server_web/bldg_command_executor.ex
  bldg_server/lib/bldg_server_web/controllers/bldg_controller.ex
Labels: none

Add favorite view-points endpoint to bldgs
  bldg_server/lib/bldg_server/buildings.ex
  bldg_server/lib/bldg_server/buildings/bldg.ex
  bldg_server/lib/bldg_server_web/controllers/bldg_controller.ex
  bldg_server/lib/bldg_server_web/router.ex
  bldg_server/lib/bldg_server_web/views/bldg_view.ex
  bldg_server/priv/repo/migrations/20260416120000_add_favorite_view_points_to_bldgs.exs
  bldg_server/test/bldg_server_web/controllers/bldg_controller_test.exs
Labels: DB-migrations

update claude.md
  CLAUDE.md
Labels: repo

more visual language mappings
  bldg_server/lib/bldg_server/buildings.ex
Labels: none

claude.ms
  CLAUDE.md
Labels: repo

migration for new visual language mappings
  bldg_server/priv/repo/migrations/20260417120000_add_artifact_and_description_visual_mappings.exs
Labels: DB-migrations

Add /edit chat command for editing bldg attributes
  bldg_server/lib/bldg_server_web/bldg_command_executor.ex
  bldg_server/test/bldg_server_web/bldg_command_executor_test.exs
Labels: none

Prevent orphaned bldgs from stale client-supplied say_flr
  bldg_server/lib/bldg_server_web/bldg_command_executor.ex
Labels: none

Split Fly.io deploy into dev/prod stacks
  .github/workflows/deploy.yml
  bldg_server/deploy.sh
  bldg_server/fly.dev.toml
  bldg_server/fly.prod.toml
  bldg_server/lib/bldg_server/release.ex
  bldg_server/priv/repo/seeds.exs
Labels: none

Remove unified fly.toml (superseded by fly.dev.toml + fly.prod.toml)
  bldg_server/fly.toml
Labels: none

sentry integration
  CLAUDE.md
  bldg_server/config/runtime.exs
  bldg_server/lib/bldg_server/application.ex
  bldg_server/lib/bldg_server_web/endpoint.ex
  bldg_server/mix.exs
  bldg_server/mix.lock
Labels: repo

Cascade bldg relocation to connected roads
  CLAUDE.md
  bldg_server/lib/bldg_server/buildings.ex
  bldg_server/lib/bldg_server/relations.ex
  bldg_server/test/bldg_server/relations_test.exs
Labels: repo

rename street -> name
  bldg_server/lib/bldg_server/buildings.ex
  bldg_server/priv/repo/migrations/20260423130000_rename_street_neighborhood_visual_types.exs
Labels: DB-migrations

claude md improvements
  CLAUDE.md
Labels: repo

add metric -> car visual-language mapping + backfill migration
  bldg_server/lib/bldg_server/buildings.ex
  bldg_server/priv/repo/migrations/20260428120000_add_metric_visual_mapping.exs
Labels: DB-migrations

extend roads with optional color + class for styled overlays
  bldg_server/lib/bldg_server/relations/road.ex
  bldg_server/lib/bldg_server_web/bldg_command_executor.ex
  bldg_server/lib/bldg_server_web/channels/floor_channel.ex
  bldg_server/lib/bldg_server_web/views/road_view.ex
  bldg_server/priv/repo/migrations/20260501120000_add_color_and_class_to_roads.exs
Labels: DB-migrations

add color, size, variant fields to bldgs (decoupled from semantic state/category)
  bldg_server/lib/bldg_server/buildings/bldg.ex
  bldg_server/lib/bldg_server_web/bldg_command_executor.ex
  bldg_server/lib/bldg_server_web/channels/floor_channel.ex
  bldg_server/lib/bldg_server_web/views/bldg_view.ex
  bldg_server/priv/repo/migrations/20260505120000_add_visual_styling_to_bldgs.exs
  bldg_server/priv/repo/migrations/20260505120100_backfill_visual_styling_from_state_and_category.exs
  bldg_server/test/bldg_server/buildings_test.exs
Labels: DB-migrations

claude.md cosmetic
  CLAUDE.md
Labels: repo

map metric entity_type to new metricDisplay 3D object
  bldg_server/lib/bldg_server/buildings.ex
  bldg_server/priv/repo/migrations/20260519090000_update_metric_visual_mapping.exs
  bldg_server/rel/overlays/bin/migrate
  bldg_server/rel/overlays/bin/migrate.bat
  bldg_server/rel/overlays/bin/server
  bldg_server/rel/overlays/bin/server.bat
Labels: DB-migrations

add view_mode to residents + change_view_mode action
  bldg_server/lib/bldg_server/residents.ex
  bldg_server/lib/bldg_server/residents/resident.ex
  bldg_server/lib/bldg_server_web/channels/floor_channel.ex
  bldg_server/lib/bldg_server_web/controllers/resident_controller.ex
  bldg_server/lib/bldg_server_web/views/resident_view.ex
  bldg_server/priv/repo/migrations/20260524120000_add_view_mode_to_residents.exs
Labels: DB-migrations

fix exit_bldg to derive post-exit coords when client sends (0,0)
  bldg_server/lib/bldg_server/residents.ex
  bldg_server/test/bldg_server/residents_test.exs
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*
  

# Add 'DB-migrations' label to any change inside the migrations folder
DB-migrations:
- any: ['bldg_server/priv/repo/migrations/*', '!bldg_server/priv/repo/migrations/.formatter.exs']
